{% extends 'base.html' %}
{% load staticfiles %}
{% load mptt_tags %}
{% block title%}
<title>商品展示页面</title>
{% endblock %}


{% block content %}
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>首页</a></li>
				<li class="active"><a href="/comlist">返回上页</a></li>
                <li>商品展示页面</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->


	<div class="products">
		<div class="container">
			<div class="col-md-4 products-left">
				<div class="categories">
					<h2 style="background-color: #d4d8d9">商品种类</h2>
					<ul class="cate">
						<li>
                            {% recursetree nodes %}
                            <li>
                                <i class="fa fa-arrow-right "></i>
                                    <a href="?level={{ node.level }}&typeid={{ node.id  }}">{{ node.name }}</a>
                                    {% if not node.is_leaf_node %}
                                        <ul class="children">
                                            {{ children }}
                                        </ul>
                                    {% endif %}
                            </li>
                            {% endrecursetree %}
						</li>
					</ul>
				</div>
			</div>

			<div class="col-md-8 products-right">
				<div class="w3l_search">
					<form action="/comlist" method="get">
						<input type="search" name="key_words" placeholder="产品类型、产品名称搜索..." required="">
						<button type="submit" class="btn btn-default search" aria-label="Left Align">
							<i class="fa fa-search" aria-hidden="true"> </i>
						</button>
						<div class="clearfix"></div>
					</form>
                    <div class="yue_reset">
                        <p>
                            <a href="/comlist">
                                点击查看全部
                            </a>
                            <span class="badge">当前产品数：{{ commodity_list.paginator.count }}</span>
                        </p>
                    </div>
				</div>

                    {% if commodity_list.paginator.count == 0 %}
                        <div class="col-md-12 top_brand_left">
                            <div class="alert alert-danger" role="alert">
                               暂无&nbsp;相关商品
                            </div>
                        </div>
                    {% else %}
                        {% for e in commodity_list.object_list %}
                        <div class="col-md-4 top_brand_left">
                            <div class="hover14 column">
                                <div class="agile_top_brand_left_grid">
                                    <div class="agile_top_brand_left_grid1">
                                        <figure>
                                            <div class="snipcart-item block">
                                                <div class="snipcart-thumb">
                                                    <a href="/cominfo/{{ e.id }}">
                                                        {% if e.pic == '' %}
                                                        <img class="img-thumbnail yue_image" title="" alt=" " src="{% static 'images/defult_commodity.png'%}">
                                                        {% else %}
                                                        <img class="img-thumbnail yue_image" title=" " alt=" " src="{{ MEDIA_URL }}{{ e.pic }} ">
                                                        {% endif %}
                                                    </a>
                                                    <p>{{ e.name }}</p>
                                                </div>
                                                <div class="snipcart-details top_brand_home_details">
                                                    <a class="btn btn-warning" href="/cominfo/{{ e.id }}" >商品详情</a>
                                                </div>
                                            </div>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    <div class="clearfix"> </div>
                    <nav class="numbering">
                        <ul class="pagination paging">
                     {% if commodity_list.has_previous %}
                        <li>
                            <a href="?{{ commodity_list.previous_page_number.querystring }}">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                     {% endif %}

                    {% for page in commodity_list.pages %}
                        {% if page %}
                            {% ifequal page commodity_list.number %}
                                <li class="active">
                                    <a href="?{{ page.querystring }}">
                                        {{ page }}
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                            {% else %}
                                <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                            {% endifequal %}
                        {% else %}
                            <li class="none"><a href="">...</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if commodity_list.has_next %}
                        <li class="long">
                            <a href="?{{ commodity_list.next_page_number.querystring }}">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
                    </nav>
                    {% endif %}

			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
{% endblock %}