{% extends 'base.html' %}
{% load staticfiles %}

{% block title%}
<title>甘肃省名特优新农畜产品品质标识数据库</title>
{% endblock %}


{% block Carousel %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
     <a href="#"> <img class="first-slide" src="{% static 'images/a1.jpg' %}" alt="First slide"></a>
    </div>
    <div class="item">
     <a href="#"> <img class="second-slide " src="{% static 'images/a2.jpg' %}" alt="Second slide"></a>
    </div>
    <div class="item">
      <a href="#"><img class="third-slide " src="{% static 'images/a3.jpg' %}" alt="Third slide"></a>
    </div>
  </div>
</div>
{% endblock %}

{% block newproducts%}
	<div class="newproducts-w3agile">
		<div class="container">
			<h3>研究最新进展</h3>
				<div class="agile_top_brands_grids">
					<div class="col-md-3 top_brand_left-1">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="/zblist"><img class="img-thumbnail yue_image"title=" " alt=" " src="{% static 'images/14.png' %}"></a>
												<p>农畜产品品质标识</p>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<a class="btn btn-warning" href="/zblist" >品质数据库</a>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 top_brand_left-1">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">

											<div class="snipcart-thumb">
												<a href="/comlist"><img class="img-thumbnail yue_image" title=" " alt=" " src="{% static 'images/15.png' %}"></a>
												<p>名特优新农畜产品</p>
											</div>

											<div class="snipcart-details top_brand_home_details">
												<a class="btn btn-warning" href="/comlist" >农畜产品</a>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 top_brand_left-1">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="{% url 'infolist'%}?typeid=1"><img class="img-thumbnail yue_image" src="{% static 'images/16.png' %}" alt=" " class="img-responsive"></a>
												<p>行业新闻</p>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<a class="btn btn-warning" href="{% url 'infolist'%}?typeid=1">查看全部</a>
												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 top_brand_left-1">
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="{% url 'infolist'%}?typeid=2"><img class="img-thumbnail yue_image" title=" " alt=" " src="{% static 'images/17.png' %}"></a>
												<p>通知公告</p>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<a class="btn btn-warning" href="{% url 'infolist'%}?typeid=2">查看全部</a>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div>
					</div>
						<div class="clearfix"> </div>
				</div>
		</div>
	</div>
{% endblock %}


{% block ban %}
    <div class="ban-bottom-w3l">
					<div class="container">
					<div class="col-md-6 ban-bottom3">
							<div class="ban-top">
								<img src="{% static 'images/p2.jpg' %}" class="img-responsive" alt=""/>

							</div>
							<div class="ban-img">
								<div class=" ban-bottom1">
									<div class="ban-top">
										<img src="{% static 'images/p3.jpg' %}" class="img-responsive" alt=""/>

									</div>
								</div>
								<div class="ban-bottom2">
									<div class="ban-top">
										<img src="{% static 'images/p4.jpg' %}" class="img-responsive" alt=""/>

									</div>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						<div class="col-md-6 ban-bottom">
							<div class="ban-top">
								<img src="{% static 'images/111.jpg' %}" class="img-responsive" alt=""/>
							</div>
						</div>

						<div class="clearfix"></div>
					</div>
				</div>
{% endblock %}




